* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
}
body {
	background: #000;
	overflow: hidden;
}
.header {
	width: 100%;
	height: 70px;
	/*background: #4285f4;*/
	background: transparent;
	padding: 0 30px;
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.header h1 {
	color: #fff;
	line-height: 70px;
	float: left;
}
.header select {
	float: right;
	height: 44px;
	padding: 0 20px;
	font-size: 14px;
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	margin: 13px 0;
}
.header select:focus {
	color: #222;
}
#particles-js {
	width: 100%;
	height: 100vh;
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#screen {
	height: calc(100vh - 70px);
	background: transparent;
}
#screen h1 {
	text-align: center;
	color: #fff;
	font-size: 200px;
	line-height: calc(100vh - 70px);
}
